@page "/arquivo"
@using WebBlazor.Services;
@inject IArquivoService _arquivoService

<PageTitle>Lista de Arquivos</PageTitle>

<h1>Arquivos</h1>

@if (arquivos == null)
{
    <p><em>Loading...</em></p>
}
else
{
        <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Img</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var arquivo in arquivos)
            {
                <tr>
                    <td>@arquivo.Nome</td>
                    <td><img src="@arquivo.URL" width="80" height="90" /></td>
                </tr>
            }
        </tbody>
    </table>

}

@code {

    private List<WebBlazor.Models.Arquivo> arquivos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        arquivos = (await _arquivoService.GetImagensAsync()).ToList();
    }
}
