@page "/arquivo"

<PageTitle>Arquivos</PageTitle>

<h1>Counter</h1>


@*@page
@model Web.Pages.ArquivoModel
@{
}
*@

@*@page "/arquivo"
@using Web.Services
@inject ArquivoService ArquivoService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>
*@
@*@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}*@
@*
@code {
    private IEnumerable<Arquivo>? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ArquivoService.GetImagensAsync();
    }
}*@
