@page "/"

<PageTitle>TechChallenge - Fase 1</PageTitle>

<div id="divPrincipal">
    <h1>TechChallenge - Fase 1</h1>
    @*<img src="~/techChallengeIcon.png" />*@
</div>

@*Welcome to your new app.*@

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
