@page "/"
@using WebBlazor.Services;
@inject IArquivoService _arquivoService

<PageTitle>TechChallenge</PageTitle>

<div id="divPrincipal">
    <h1>TechChallenge</h1>
</div>

<h1>Arquivos</h1>

<InputFile OnChange="@LoadFiles" />

@if (arquivos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table" render-mode="ServerPrerendered">
        <thead>
            <tr>
                <th>Imagem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var arquivo in arquivos)
            {
                <tr>
                    <td><img src="@arquivo.URL" width="80" height="90" /></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<WebBlazor.Models.Arquivo> arquivos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        arquivos = (await _arquivoService.GetImagensAsync()).ToList();
    }

    private async void LoadFiles(InputFileChangeEventArgs e)
    {
        var file = e.File;

        IBrowserFile imgFile = e.File;
        var buffers = new byte[imgFile.Size];
        await imgFile.OpenReadStream().ReadAsync(buffers);
        string imageType = imgFile.ContentType;
        var imgUrl = $"data:{imageType};base64,{Convert.ToBase64String(buffers)}";

        await _arquivoService.Upload(imgUrl);
    }

}




